In [52]:
import numpy as np
import pandas as pd

In [53]:
#Reading Data
train_set = pd.read_csv('../../Datasets/Housingdata/Housing_Train.csv')
test_set = pd.read_csv('../../Datasets/Housingdata/Housing_Test.csv')
train_set

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.25199,0.0,10.59,0.0,0.489,5.783,72.7,4.3549,4,277,18.6,389.43,NaN,22.5
1,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
2,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,15.2
3,NaN,0.0,18.10,1.0,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
4,12.80230,0.0,18.10,0.0,0.740,5.854,96.6,1.8956,24,666,20.2,240.52,23.79,10.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,1.00245,0.0,8.14,0.0,0.538,6.674,87.3,4.2390,4,307,21.0,380.23,11.98,21.0
401,0.03041,0.0,5.19,0.0,0.515,5.895,59.6,5.6150,5,224,20.2,394.81,10.56,18.5
402,2.81838,0.0,18.10,0.0,0.532,5.762,40.3,4.0983,24,666,20.2,392.92,10.42,21.8
403,0.44791,0.0,6.20,1.0,0.507,6.726,66.5,3.6519,8,307,17.4,360.20,8.05,29.0
404,0.35809,0.0,6.20,1.0,0.507,6.951,88.5,2.8617,8,307,17.4,391.70,9.71,26.7

In [54]:
#splliting datasets
y_train = train_set['MEDV']
x_train = train_set.drop(columns='MEDV')

x_test = test_set

In [55]:
#check dataset
x_train.isnull().sum()
x_test.isnull().sum()

CRIM       3
ZN         5
INDUS      6
CHAS       4
NOX        0
RM         0
AGE        5
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      2
dtype: int64

In [56]:
#fill Null values
def replace_null_values(cols: list, dataset: pd.DataFrame):
    for col in cols:
        temp = dataset[col].dropna()
        mode = temp.mean()
        dataset[col].fillna(mode, inplace=True)

na_cols = list(x_train.columns[x_train.isnull().any()])
na_cols_test = list(x_test.columns[x_test.isnull().any()])

replace_null_values(na_cols, x_train)
replace_null_values(na_cols_test, x_test)

In [57]:
#feature Scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns=x_test.columns)

In [58]:
# Linear Regression
class LinearRegression:
    def __init__(self):
        self.weight = None

    def fit(self, x:pd.DataFrame, y:pd.DataFrame, epoch:int, learning_rate:float):
        m = len(x)
        if x.iloc[0, 0] != 1:
            x.insert(0, 'bias', 1)

        self.weight = np.ones(len(x.columns))

        for i in range(epoch):
            gradient = 2/m * x.T.dot(self.predict(x) - y)
            self.weight = self.weight - learning_rate * gradient

    def predict(self, df:pd.DataFrame):
        if df.iloc[0, 0] != 1:
            df.insert(0, 'bias', 1)
        return np.dot(df, self.weight)

In [77]:
reg = LinearRegression()
reg.fit(x_train, y_train, 2000, 0.1)

In [78]:
# Evaluating Model
from sklearn.metrics import mean_squared_error, r2_score
y_pred_train = reg.predict(x_train)

mse_error = mean_squared_error(y_train, y_pred_train)
rmse = np.sqrt(mse_error)
r2_error = r2_score(y_train, y_pred_train)

errors = pd.DataFrame({'Value': [mse_error, rmse, r2_error]}, index=['MSE', 'RMSE', 'R2'])
errors

          Value
MSE   22.446441
RMSE   4.737767
R2     0.738856

In [79]:
y_pred_train

array([20.20593033, 19.62213737, 16.4375262 , 31.42168278, 11.38362399,
       30.66857533, 25.39306017, 10.85345345, 23.94356721,  2.5205598 ,
       11.63152702, 32.83158877, 12.23275816, 18.70320064, 27.60595805,
       20.7991362 , 26.38847883, 42.12750974, 27.46493651, 31.34994328,
       17.253358  , 25.20061732, 37.35189381, 12.17574213, 25.42977225,
       27.89873077, 10.93418248,  5.5886609 , 21.4412389 ,  9.27286088,
       24.72485304, 31.24319432, 14.09697101, 12.99211693, 20.71611679,
       19.61200123, 26.16840354, 17.98431314, 18.17255847, 24.80760856,
       17.92684111, 35.03156337, 21.83785856, 21.00454849, 20.7217062 ,
        0.62557738, 22.46448125, 17.36703514, 14.08729572, 42.81465004,
        9.9602024 , 33.3885066 , 16.18411832, 20.87253774, 23.02885621,
       24.28956763, 19.50659509, 19.07266124, 20.05289647, 30.99788054,
       20.9589002 , 17.56725521, 14.72040504, 19.87674131, 14.47638405,
       17.77254798, 20.01914103, 13.20890284, 17.47148158, 28.21648786,
       37.94301242,  4.9768943 , 30.44181303, 18.3458277 ,  9.36264049,
       20.26099314, 24.83089416, 17.28576688, 19.57591048, 22.71040979,
       24.8906488 , 21.8112939 , 17.33070889, 16.48404748, 21.35548296,
       19.19969929, 17.85206734, 15.16192228, 33.00617628, 21.73517954,
       24.20829863, 21.33117011,  7.89203087, 21.45166409, 27.93706785,
       33.50340608, 24.05033516, 22.00059707, 22.83793921, 23.57792963,
       19.89253837, 43.37284744, 35.9129826 , 33.54851859, 22.1331685 ,
       40.74875296, 21.99066898, 26.25866068, 19.93640769, 18.26839602,
       21.65835304, 12.69104332, 22.00883816, 32.05000165, 30.29985675,
       23.15822958, 29.05518434, 19.63318296, 25.9262474 , 21.00180053,
       16.16313742,  8.15703362, 30.62895555, 32.29127143,  6.31843827,
       37.8503167 , 24.19554329, 15.14777742,  7.63068064, 28.42107054,
       41.84132566, 13.62681885,  9.32342081, 21.65383657, 20.33483543,
       33.05489059, 25.4338337 , 22.56264598, 23.81197753, 18.32972706,
        8.73427991, 19.15662644, 44.26929582, 12.13763924, 14.43994269,
       39.52582171, 32.40529967, 20.98162433, 24.54238586, 12.06189474,
       32.22907796, 29.57987534, 25.29897107, 20.3056102 ,  5.74740853,
       18.51771157, 27.7576214 , 17.69684642, 31.008818  , 18.66010164,
       14.05806251, 23.59367072, 32.23109118, 26.35229705, 28.09320419,
       22.19287914, 21.83029039,  9.74877818, 32.1139636 , 12.0759461 ,
       13.19292906, 14.09969532, 35.72657005, 17.203465  , 22.04394776,
       24.96667732,  8.91532001, 15.26260245, 30.98821554, 15.41134403,
       27.50348851, 15.55679338, 31.07259341, 20.11285337, 20.63658935,
       34.33273992, 37.30635624, 19.70905747, 23.007243  , 21.6339508 ,
       22.33979734, 22.55963308, 29.02883355, 16.94466609, 22.79105938,
       34.35583336, 17.75680485, 20.26575994, 24.52525679, 17.18572577,
       18.43674212, 22.05952928, 19.34031306, 12.89599171, 24.38741791,
       18.66885449, 14.71756059, 28.72744154, 33.48820195, 13.22779655,
       16.78360493, 16.31328743, 25.94735032, 24.97654497, 38.72217837,
       21.35114759, 20.29700805, 11.95645842, 20.49110779, 26.00527699,
       22.74738457, 12.84068431, 18.00133943, 37.43745632, 24.89289974,
       25.75501374, 12.96798519,  6.11273877, 16.2187231 , 26.32865101,
       23.4320766 , 33.15666587, 26.78892683, 25.44161066, 19.22917966,
        0.40373501, 21.60819691, 22.27245529, 24.16491062, 25.66806464,
       22.38422676, 40.4123257 , 22.73358708, 16.51615566, 28.62219829,
        9.81300743, 35.03297908, 20.31373336, 10.56675581,  5.21214186,
       15.90893189, 23.08601307, 27.18108053, 22.5181678 , 14.45922503,
       28.76761029, 36.33939104, 19.15364368, 33.00167946, 19.55265082,
       17.48052492, 14.85238912, 28.8114083 , 22.01751227, 15.95503096,
       26.66804953, 25.03115423, 17.99034334, 28.77955485, 13.31506101,
       30.01233941, 25.24518322, 31.60870076, 22.7266891 , 18.33881539,
       23.1481384 , 32.47516975, 36.29970243, 24.86783457, 26.68863287,
       20.78192284, 22.18861443, 27.32099548, 23.17092502, 17.09485425,
       36.38063092, 18.06372869, 17.19518522, 15.4846928 , 24.94782475,
       22.64327839, 19.14671199, 23.77754807, 19.35937907, 17.38389625,
       27.35767898, 28.14095657, 15.86832167, 13.3538838 , 20.68092341,
       15.89849042, 31.56115312, 20.14937311, 19.34213079,  7.49062776,
       11.96682762, 23.54264396, 18.94220318, 29.26620732, 38.93573409,
        5.43870554, 25.15464311, 45.09760941, 14.34049175, 25.50391451,
       28.28160862, 23.98435489, 13.5517673 , 18.28475517, 17.71889009,
       23.24026779, 25.16132381, 19.51596821,  4.57001151, 27.61889879,
        9.40791681, 41.19881599, 20.34802531, 12.96348371, 27.22566884,
       21.38223379, 27.72706244, 17.19826785, 23.53915312, 16.93069639,
       20.15878505, 16.66530662, 21.99904683, 33.32705361, 20.17358488,
       21.4408425 , 30.94647143, 25.07935464, 24.9548079 , 24.69807194,
       18.21011249, 16.73235629, 16.18264978, 25.1836052 , 21.45772978,
       32.21403723, 16.66052117,  6.74039692, 25.10495913, 13.67253167,
       20.741855  , 32.30852944, 18.66664958, 20.88266561, 20.22274617,
       41.38482119, 25.95145374, 20.78995153, 21.86491193, 16.56921822,
       15.08180933, 17.94093205, 23.0928784 , 33.57814152, 23.72426042,
       19.82248664, 22.68476955, 17.89258677, 38.95703815, 35.4378865 ,
       20.67271495, 22.1005067 , 15.34918209, 38.50123742, 18.21013398,
       22.98541373, 28.73397294, 23.3637269 , 33.82411385, 15.21568993,
       25.51793125, 30.11264231, 31.55957868, 21.33012177, 24.04622877,
       12.17784208, 15.81270019, 32.67183051, 21.54969949, 30.64633283,
       15.03886772, 16.56747536, 27.66785018, 16.37049393, 20.83246643,
       21.38993956, 19.31216212, 20.44200784, 31.56159596, 32.97819505])