In [34]:
import pandas as pd

In [35]:
dataset = pd.read_csv('Dataset/pricerunner_aggregate.csv')
dataset

,Product ID,Product Title,Merchant ID,Cluster ID,Cluster Label,Category ID,Category Label
0,1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
1,2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
...,...,...,...,...,...,...,...
35306,47350,smeg fab28 60cm retro style right hand hinge f...,59,47517,Smeg FAB28 Cream,2623,Fridges
35307,47351,smeg fab28 60cm retro style left hand hinge fr...,59,47518,Smeg FAB28 Red,2623,Fridges
35308,47352,smeg fab28 60cm retro style left hand hinge fr...,59,47519,Smeg FAB28 Pink,2623,Fridges
35309,47355,candy 60cm built under larder fridge cru160nek,125,47524,Candy CRU16.0,2623,Fridges
35310,47358,neff k4316x7gb built under larder fridge,179,47525,Neff K4316,2623,Fridges

In [36]:
dataset.isnull().any()

Product ID         False
Product Title      False
 Merchant ID       False
 Cluster ID        False
 Cluster Label     False
 Category ID       False
 Category Label    False
dtype: bool

In [38]:
#removing useless features
dataset = dataset.drop(columns=['Product ID', 'Product Title' ,' Cluster Label', ' Category Label'])
dataset

        Merchant ID   Cluster ID   Category ID
0                 1            1          2612
1                 2            1          2612
2                 3            1          2612
3                 4            1          2612
4                 5            1          2612
...             ...          ...           ...
35306            59        47517          2623
35307            59        47518          2623
35308            59        47519          2623
35309           125        47524          2623
35310           179        47525          2623

[35311 rows x 3 columns]

In [41]:
#splitting dataset
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(dataset.drop(columns=' Category ID'), dataset[' Category ID'], test_size=0.2, random_state=42)

        Merchant ID   Cluster ID
32130             7        46162
4771            128         4465
428               6           25
14006           264        39409
6481              3         4872
...             ...          ...
13664           266        39187
8899             51         6152
8500             36         6013
6332             59         4817
5770             18         4636

[7063 rows x 2 columns]