In [167]:
import numpy as np
import pandas as pd

In [168]:
train_set = pd.read_csv('../../Datasets/weatherHistory/weatherHistory_Train.csv')
test_set = pd.read_csv('../../Datasets/weatherHistory/weatherHistory_Train.csv')

In [169]:
train_set

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
67512,2013-05-20 01:00:00.000 +0200,Mostly Cloudy,rain,17.594444,17.594444,0.84,10.6421,279.0,9.9820,0.0,1010.25,Partly cloudy throughout the day.
67513,2013-05-20 02:00:00.000 +0200,Partly Cloudy,rain,17.566667,17.566667,0.80,13.5723,269.0,11.0285,0.0,1011.30,Partly cloudy throughout the day.
67514,2013-05-20 03:00:00.000 +0200,Partly Cloudy,rain,17.000000,17.000000,0.81,14.0392,260.0,15.8263,0.0,1011.82,Partly cloudy throughout the day.
67515,2013-05-20 04:00:00.000 +0200,Partly Cloudy,rain,15.355556,15.355556,0.78,14.0231,250.0,15.8263,0.0,1011.83,Partly cloudy throughout the day.
67516,2013-05-20 05:00:00.000 +0200,Partly Cloudy,rain,14.272222,14.272222,0.85,10.7065,227.0,14.9569,0.0,1012.85,Partly cloudy throughout the day.

In [170]:
# filing NAN values

def replace_categorical_null(cols: list, dataset: pd.DataFrame):
    for col in cols:
        temp = dataset[col].dropna()
        mode = temp.mode()[0]
        dataset[col].fillna(mode, inplace=True)

na_cols = list(train_set.columns[train_set.isnull().any()])
replace_categorical_null(na_cols, train_set)

na_cols_test = list(test_set.columns[test_set.isnull().any()])
replace_categorical_null(na_cols_test, test_set)

In [171]:
# Encoding Categorical Columns
from sklearn.preprocessing import LabelEncoder

def encode_labels(cols: list, dataset: pd.DataFrame, source: pd.DataFrame):
    encoder = LabelEncoder()
    for col in cols:
        encoder.fit(source[col])
        dataset[col] = pd.DataFrame(encoder.fit_transform(dataset[col]))


# train_categorical_cols = list(train_set.select_dtypes(include=['object']).dtypes.index)
train_categorical_cols = ['Summary', 'Precip Type', 'Daily Summary']
test_categorical_cols = ['Summary', 'Precip Type', 'Daily Summary']

all_data = pd.concat([train_set[train_categorical_cols] , test_set[test_categorical_cols]])

encode_labels(train_categorical_cols, train_set, all_data)
encode_labels(test_categorical_cols, test_set, all_data)

In [172]:
train_set

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,19,0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,169
1,2006-04-01 01:00:00.000 +0200,19,0,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,169
2,2006-04-01 02:00:00.000 +0200,17,0,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,169
3,2006-04-01 03:00:00.000 +0200,19,0,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,169
4,2006-04-01 04:00:00.000 +0200,17,0,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,169
...,...,...,...,...,...,...,...,...,...,...,...,...
67512,2013-05-20 01:00:00.000 +0200,17,0,17.594444,17.594444,0.84,10.6421,279.0,9.9820,0.0,1010.25,169
67513,2013-05-20 02:00:00.000 +0200,19,0,17.566667,17.566667,0.80,13.5723,269.0,11.0285,0.0,1011.30,169
67514,2013-05-20 03:00:00.000 +0200,19,0,17.000000,17.000000,0.81,14.0392,260.0,15.8263,0.0,1011.82,169
67515,2013-05-20 04:00:00.000 +0200,19,0,15.355556,15.355556,0.78,14.0231,250.0,15.8263,0.0,1011.83,169
67516,2013-05-20 05:00:00.000 +0200,19,0,14.272222,14.272222,0.85,10.7065,227.0,14.9569,0.0,1012.85,169

In [173]:
# set the date format for 'Formatted Data' column
from datetime import datetime as dt

formate = '%Y-%m-%d %H:%M:%S.%f %z'
train_set['Formatted Date'] = train_set['Formatted Date'].map(lambda x: dt.strptime(x, formate))
test_set['Formatted Date'] = test_set['Formatted Date'].map(lambda x: dt.strptime(x, formate))

In [174]:
# Extraction Of Data & time Features

train_set['day'] = train_set['Formatted Date'].map(lambda data: data.day)
test_set['day'] = test_set['Formatted Date'].map(lambda data: data.day)

train_set['month'] = train_set['Formatted Date'].map(lambda data: data.month)
test_set['month'] = test_set['Formatted Date'].map(lambda data: data.month)

train_set['year'] = train_set['Formatted Date'].map(lambda data: data.year)
test_set['year'] = test_set['Formatted Date'].map(lambda data: data.year)

train_set['hour'] = train_set['Formatted Date'].map(lambda data: data.hour)
test_set['hour'] = test_set['Formatted Date'].map(lambda data: data.hour)

train_set = train_set.drop(columns='Formatted Date')
test_set = test_set.drop(columns='Formatted Date')

In [175]:
# splitting Data
y_train = train_set['Apparent Temperature (C)']
y_test = test_set['Apparent Temperature (C)']

x_train = train_set.drop(columns='Apparent Temperature (C)')
x_test = test_set.drop(columns='Apparent Temperature (C)')

In [176]:
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns=x_test.columns)

In [177]:
x_train

,Summary,Precip Type,Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,day,month,year,hour
0,0.76,0.0,0.506975,0.89,0.221130,0.699164,0.983,0.0,0.970135,0.938889,0.000000,0.272727,0.0,0.000000
1,0.76,0.0,0.505085,0.86,0.223399,0.721448,0.983,0.0,0.970613,0.938889,0.000000,0.272727,0.0,0.043478
2,0.68,0.0,0.505445,0.89,0.061523,0.568245,0.929,0.0,0.970909,0.938889,0.000000,0.272727,0.0,0.086957
3,0.76,0.0,0.487805,0.83,0.220877,0.749304,0.983,0.0,0.971358,0.938889,0.000000,0.272727,0.0,0.130435
4,0.68,0.0,0.495365,0.83,0.172970,0.721448,0.983,0.0,0.971454,0.938889,0.000000,0.272727,0.0,0.173913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67512,0.68,0.0,0.638556,0.84,0.166667,0.777159,0.620,0.0,0.965471,0.938889,0.633333,0.363636,1.0,0.043478
67513,0.76,0.0,0.638106,0.80,0.212557,0.749304,0.685,0.0,0.966475,0.938889,0.633333,0.363636,1.0,0.086957
67514,0.76,0.0,0.628926,0.81,0.219869,0.724234,0.983,0.0,0.966972,0.938889,0.633333,0.363636,1.0,0.130435
67515,0.76,0.0,0.602286,0.78,0.219617,0.696379,0.983,0.0,0.966981,0.938889,0.633333,0.363636,1.0,0.173913
67516,0.76,0.0,0.584736,0.85,0.167675,0.632312,0.929,0.0,0.967956,0.938889,0.633333,0.363636,1.0,0.217391